.cardcss{
    display: grid;
    grid-template-columns: repeat(3,300px);
    gap : 100px;
  }


.productflex{
    display: flex;
}  


.filter{
    width: 300px;
    padding-left: 50px;
}

.search{
    display: flex;
    gap:30px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}